.progressBar{
    width: 13%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    justify-content: center;
    -webkit-filter: drop-shadow(-25px 25px 10px rgba(0,0,0, 0.8));
    filter: drop-shadow(-25px 25px 10px rgba(0,0,0, 0.8));
    color: #fff;
    opacity: 0;
}

.progressBar > h3{
  margin-top: 5px;
}

.CircularProgressbar-path {
    stroke: #ffffff !important;
    stroke-width: 8px;
    /* stroke-opacity: 90%; */
  }
  .CircularProgressbar-trail {
    stroke: rgba( 255, 255, 255, 0.25 ) !important;
  }
  .CircularProgressbar-text {
    fill: #fff !important;
    font-weight: bold;
  }