.row{
    align-items: center;
    display: flex;
    margin: 10px 50px;
    padding: 10px 50px;
    color: white;
    font-size: large;
    transition: 200ms ease-out;
    font-weight: bold;
}
.row:hover {
    transform: scale(1.05);
    /* background-color: #A890F1; */
    border-radius: 50px;
    -webkit-filter: drop-shadow(-25px 25px 10px rgba(0,0,0, 0.5));
    filter: drop-shadow(-15px 15px 10px rgba(0,0,0, 0.5));
    cursor: pointer;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  /* backdrop-filter: blur( 4px ); */
  -webkit-backdrop-filter: blur( 4px );
  /* border-radius: 10px; */
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.row > p{
    flex: 0.5;
}

.row__details {
    display: flex;
    justify-content: space-between;
    flex: 0.5;
    align-items: center;
}

.row__details > p {
    align-items: center;
    text-align: center;
    justify-content: center;
}